.data{
    margin: auto;
    width: 50%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    color: rgb(74, 70, 70);
    
}
.Contain{
    display: flex;
    justify-content: space-around;
 
}
.outer{
    background-color: rgb(222, 222, 222);
    width: 100%;
    height: 40vh;
    padding: 0.2rem;
}